#login-buttons {}
.login-link-and-dropdown-list {}
.login-link-text {}
.accounts-dialog {
  display: inline-block;
  vertical-align: top;

  a, div {
    display: inline-block;
  }
}
.login-close-text { color: #aaa; }
.login-button {}
