.message-list-section {
  font-size: 1rem;

  &:after {
    content: "Beginning of messages";
    display: block;
    border-top: 5px solid $darkgreen;
    padding-top: 1rem;
    text-align: center;
    font-family: serif;
    font-style: italic;
  }

  .message-list-title { font-size: 0; }
  .message-list-items {
    padding: 0;
    margin: 0;
    font-size: inherit;
    list-style-type: none;
  }
}
