.room-item {
  display: inline-block;
  margin-right: 0.5rem;

  .room-item-link {
    text-decoration: none;
    color: $background;
  }
  .room-item-link:hover {
    color: $white;
  }
  .active-room {
    color: $white;
    text-decoration: underline;
  }
}
